
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
.todo{
  
  background-color: antiquewhite;
  color: black;
  font-size: 50px;
 
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  
}